img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-indent: 5%;
    font-size: 13px;
    font-family: helvetica, sans-serif;
}

h1 {
    color: black;
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
}

body {
    background-color: rgb(227, 241, 241);
    font-size: 12px;
}

p.a {
    text-indent: 30px;
    background-color: rgb(227, 241, 241);
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: 30px;
}

p.b {
    color: rgb(2, 53, 95);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

p.c {
    text-indent: 30px;
    background-color: rgb(227, 241, 241);
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: 30px;
}

p.d {
    text-indent: 30px;
    background-color: rgb(227, 241, 241);
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: 30px;
}

p.e {
    text-indent: 30px;
    background-color: rgb(227, 241, 241);
    color: black;
    font-size: 15px;
    text-indent: 30px;
}

/* comments look like this */
