img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
}

body {
    background-color: #E0FFFF;
    font-size: 12 px;
}

p {
    background-color: #E0FFFF;
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}

/* comments look like this */
