img {
    max-width: 100%;
}

title {
    text-align: center;
    font-size: 30px;
}

body {
    background-color: #E0FFFF;
}

p {
    background-color: #E0FFFF;
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}

/* comments look like this */
