p,
button {
    font-size: 300%;
}

.button-reset {
    background: transparent;
    border: 0
}

.topnav {
    background-color: rgb(103, 129, 138);
    color: white;
    padding: 20px;
    width: 640px;
}

header {
    background image: homeimage;


}
