.topnav {
    text-align: center;
    line-height: 20px;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
}

.topnav li {
    padding: 20px;
    font-weight: bold;
    display: inline-block;
    list-style: none;
    text-align: center;
}

.topnav a:hover {
    color: rgb(226, 43, 217);
}

.registrationbutton {
    font-variant: small-caps;
    font-style: bold;
    letter-spacing: .5px;
    font-size: 18px;
    padding: 5px;
    width: 40%;
    background-color: rgb(144, 224, 137);
    border-style: solid;
    border-color: rgb(102, 206, 188);
    border-width: 2px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/*.registrationbutton a:hover {
    color: rgb(214, 245, 216);
}*/

h1 {
    text-align: center;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
}

body {
    background-color: rgb(213, 236, 228);
    margin: 0;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
}

.underheading li {
    font-size: 22px;
    list-style: none;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
    text-align: center;
    line-height: 125%;
}

img {
    width: 100%;
    max-width: 100%;
}

svg {
    width: 45px;
    height: auto;
}

footer {
    text-align: right;
    margin: 32px;
    line-height: 40px;
    margin-top: 1%;
    position: relative;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
}

/*why is the font-size not showing up?*/
footer p {
    font-weight: bold;
    font-size: 20px;
    font-variant: small-caps;
    margin-top: 20px;
    margin-bottom: 5px;
}

.textbody {
    line-height: 20px;
    margin-top: 2%;
    width: 100%;
}


/* .register a.hover {
    background color: red;
}
border: creates borders */

/* google web fonts/ system fonts can work on mobile for seriff legibility on mobile*/
