.top {
    background-image: url("images/ScreenShottan.jpg");
    max-width: 100%;
}

/*footer {
    background-image: url("images/screenshotred.png");
    background-repeat: no-repeat;
}*/

.topnav {
    margin-top: 0;
    text-align: center;
    line-height: 20px;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
}

.topnav li {
    margin-top: 0;
    padding: 20px;
    font-weight: bold;
    display: inline-block;
    list-style: none;
    text-align: center;
    color: white;
}

.topnav a:hover {
    color: rgb(216, 112, 112);
}

.registrationbutton {
    font-variant: small-caps;
    font-style: bold;
    letter-spacing: .2px;
    font-size: 18px;
    padding: 5px;
    width: 40%;
    background-color: rgb(221, 218, 228);
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.schedule .speakers .registration h1 {
    color: black;
}

h1 {
    text-align: center;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
    letter-spacing: 2px;
    color: rgb(43, 20, 5);
}

.underheading li {
    font-size: 20px;
    list-style: none;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
    text-align: center;
    line-height: 135%;
    letter-spacing: .7px;
    color: rgb(34, 25, 25)
}

body {
    background-color: rgb(241, 242, 247);
    margin: 0;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
}


img {
    width: 100%;
    max-width: 100%;
}


.textbody p {
    text-align: left;
    padding: 2%;
    line-height: 23px;
    width: 95%;
    color: rgb(0, 0, 0);
    letter-spacing: .3px;
}

footer {
    text-align: right;
    margin: 0;
    line-height: 40px;
    position: relative;
    font-family: helvetica, arial, Verdana, Tahoma, sans-serif;
}

footer p {
    font-weight: bold;
    font-size: 20px;
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 2%;
}

svg {
    width: 45px;
    height: auto;
}

ol {
    line-height: 50px;
}


/* .register a.hover {
    background color: red;
}
border: creates borders */

/* google web fonts/ system fonts can work on mobile for seriff legibility on mobile*/
/*focus on functionality/accessability*/
