body {
    margin: 0;
    background-color: rgb(243, 240, 240);
}

h1 {
    padding: 20px;
    background-color: rgb(128, 242, 250);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
}

h2 {
    text-align: center;
    font-size: 12px;
}

h3 {
    text-align: center;
    font-size: 12px;
}

h4 {
    text-align: center;
    font-size: 12px;
}

.morning {
    background-color: rgb(30, 216, 230);
    padding: 20px;
}

.midday {
    background-color: rgb(36, 171, 212);
    padding: 20px;
}

.evening {
    background-color: rgb(37, 134, 190);
    padding: 20px;
}


body {
    color: black;
    font-family: helvetica, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
    margin: 0;
    text-align: left;
}

img {
    max-width: 10%;
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}


svg {
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    width: 4%;
}
