body {
    background-color: rgb(243, 240, 240);
    margin: 0;
    font-family: helvetica, Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 13px;
    text-align: left;
}

h1 {
    background-color: rgb(146, 206, 224);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 12px;
    text-align: center;
}

h3 {
    font-size: 12px;
    text-align: center;
}

h4 {
    font-size: 12px;
    text-align: center;
}

.morning {
    background-color: rgb(30, 216, 230);
    padding: 20px;
}

.midday {
    background-color: rgb(36, 171, 212);
    padding: 20px;
}

.evening {
    background-color: rgb(37, 134, 190);
    padding: 20px;
}

img {
    display: block;
    height: auto;
    max-width: 10%;
    margin-right: auto;
    margin-left: auto;
}

figcaption {
    padding-top: 1%;
    text-align: center;
    font-size: 12px;
}

svg {
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    width: 4%;
}

@media (min-width: 500px) {
    svg {
        width: 5%;
    }
}

@media (min-width: 800px) {

    h1 {
        font-size: 23px;
    }

    h2,
    h3,
    h4 {
        font-size: 15px
    }

    section {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {

    h1 {
        font-size: 25;
    }

    h2,
    h3,
    h4 {
        font-size: 20px;
    }

    svg {
        width: 6%;
    }
}
